.bundle
.swp
*.swo
*.swp
.sass-cache
db/*.sqlite3
log/*.log
log/*.log.lck
log/*.log.*
tmp/
.idea/*
solr/data/
\#*
.#*
*~
.DS_Store
.emacs.desktop.lock
coverage
reports
db/schema.rb
*.tmproj
.tags
spec/javascripts/generated
db/*_structure.sql
db/bootstrap/*.sql
db/bootstrap/*.dump
db/bootstrap/*.bak
db/bootstrap/image_fixtures/properties/*
public/system
public/stylesheets
public/images
vendor/bundle
config/database.Tom-Meiers-MacBook-Pro.local.yml
config/abr.yml
vendor/ruby
db/bootstrap/*.dump
db/bootstrap/*.pgz
NERD*
