.skill-tree
  .tasks
    -@skill_tree.levels.each do |level|
      .level.border
        .name
          =level.name
        -level.tasks.each do |task|
          =simple_form_for(task, :url => complete_task_path(task)) do |f|
            .task.border
              =task.status ? '.task-complete' : '.task-incomplete'
              .name
                =task.name
              .description
                =task.description
              .status
                -#=task.status
                =best_in_place task, :name, :type => :input
              =f.submit 'Complete', :class => 'status-button'
