
<div id="main_container">
  <div id="navigation">
    <div class="navigation-list">
      <% @skill_trees.each do |skill_tree| %>
        <div class="navigation-item" path="<%=skill_tree_path(skill_tree)%>">
          <span class="skill_tree">
            <%= skill_tree.name %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div id="detail-container">
    <div id="detail">
      <p>Empty</p>
    </div>
  </div>
</div>
