  <span>Score: 0</span>
  <span>Primary   [<%= link_to SkillTree.find_by_id(1).name, skill_tree_path(1) %>]</span>
  <span>Secondary [<%= link_to SkillTree.find_by_id(2).name, skill_tree_path(2) %>]</span>
