.main_container {
  display: block;
  float: left;
}

.skill_tree {
  float: left;
  border-style: solid;
  border-width: 1px;

  margin: 10px;
  padding: 5px;

}
footer {
  display: block;
  float: left;
}

