#main_container {
  width: 100%;
  height: auto;
}

#detail-container {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: 100%;
  background-color: 'light-yellow';
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;

  #detail {
    display: block;
    vertical-align: top;
    height: 100%;
  }

  .level>.name {
    font-weight: bold;
  }
  .skill_tree {

  }
  .task {
    background-color: LightBlue;

    .task-complete {
      background-color: LightGreen;
    }
    .task-incomplete {
      background-color: Red;
    }
  }
}

.border {
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-radius: 10px 10px 10px 10px;*/

  margin: 5px;
  padding: 5px;
}

#navigation {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 100%;
  padding: 20px;

  .navigation-list {
    list-style: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;

    .navigation-item {
      /*clear: left;*/
      display: block;
      margin: 5px;
      /*float: left;*/

      /*border-width: 1px;*/
      /*border-style: solid;*/
      /*border-radius: 10px 10px 10px 10px;*/
      background-color: LightGrey;

      padding: 10px;
      /*width: 100%;*/
      position: relative;

      span {
        font-size: 2em;
      }

      .skill-tree {
        width: auto;
      }
    }
  }
}

/*Original*/

/*.main_container {*/
/*display: block;*/
/*float: left;*/
/*width: 1048px;*/
/*}*/

/*footer {*/
/*display: block;*/
/*float: left;*/
/*}*/

/*.card {*/
/*float: left;*/
/*border-style: solid;*/
/*border-width: 1px;*/
/*display: inline-block;*/
/*margin: 10px;*/
/*padding: 25px;*/
/*border-radius: 10px 10px 10px 10px;*/
/*border-width: 1px;*/
/*border-style: solid;*/
/*background-color: DarkGrey;*/

/*.level_list {*/
/*border-style: solid;*/

/*border-radius: 10px 10px 10px 10px;*/
/*background-color: PeachPuff;*/
/*font-size: 10px;*/
/*padding: 10px;*/
/*}*/

/*span {*/
/*padding: 10px;*/
/*margin-below: 10px;*/
/*}*/

/*.title {*/
/*margin: 10px;*/
/*}*/

/*div {*/

/*}*/

/*ul {*/
/*list-style: none;*/
/*}*/

/*.skill_tree {*/
/*font-size: 30px;*/
/*float: left;*/
/*}*/

/*.task_list {*/
/*border-radius: 10px;*/
/*}*/

/*.task {*/
/*background-color: Azure;*/
/*font-size: 18px;*/
/*border-radius: 10px;*/
/*padding: 10px;*/
/*border-style: solid;*/
/*margin-bottom: 5px;*/

/*.name {*/
/*color: red;*/
/*}*/

/*.url {*/
/*}*/

/*.description {*/
/*color: blue;*/
/*}*/

/*.status {*/
/*display: none;*/
/*color: red;*/
/*}*/
/*}*/

/*.delete_button div {*/
/*display: block;*/
/*}*/
/*.delete_button {*/
/*display: block;*/
/*}*/
/*}*/
